.breadcrum {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 10px auto;
  font-size: 15px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.breadcrum img {
  width: 12px;
  opacity: 0.6;
}
