
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo p{
  color: #171717;
  font-size: 30px;
  font-weight: 600;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button{
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active{
  background: #f3f3f3;
}

.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -37px;
  margin-left: -50px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.nav-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-profile:hover{
  scale: 1.05;
}

/* Navbar Responsive */

@media (max-width:1280px){
  .navbar{
    padding: 12px 50px;
  }
  .nav-logo img{
    width: 40px;
  }
  .nav-logo p{
    font-size: 24px;
  }
  .nav-menu{
    gap: 30px;
    font-size: 16px;
  }
  .nav-login-cart{
    gap: 30px;
  }
  .nav-login-cart button{
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
  .nav-cart-count{
    margin-left: -35px;
    font-size: 12px;
  }
}