
.shopCategory-banner{
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shop-category-indexSort {
  width: 82%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.shopCategory-sort{
  padding: 10px 20px;
  border: 1px solid #888;
  border-radius: 40px;
}

.shop-category-indexSort p span{
  font-weight: 600;
}

.shopCategory-products{
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopCategoy-loadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
