.navbar {
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.nav-logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.nav-logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.main-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}

.sub-title {
  font-size: 11px;
  font-weight: 500;
  margin-left: 30px ;
  color: red;
  margin-top: 2px;
}

.profile-wrapper {
  position: relative;
}

.nav-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-profile:hover {
  scale: 1.05;
}


.profile-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background: #ffffff;
  padding: 12px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: fadeIn 0.2s ease-in-out;
  z-index: 100;
}

.profile-dropdown p {
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
}

.profile-dropdown p:hover {
  background: #f0f0f0;
}

.profile-dropdown .logout {
  color: red;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

