.listproduct{
    display: flex;
    flex-direction: column;
    width: 110%;
    height: 550px;
    padding: 10px 50px;
    margin: 30px;
    margin-left: 120px;
    margin-top: 60px;
    border-radius: 6px;
    background: white;
}

.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct-format{
    align-items: center;
    font-weight: 500;
}


.listproduct-product-icon{
    height: 80px;
}

.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;

}

.listproduct-allproducts{
    overflow-y: auto;
    
}